<main>
  <app-default-title title="Explora Nuestro Blog" />
  <app-section-introduction>
    <h2>
      Recursos Legales para una
      <span class="highlight-text">Mejor Orientación y Empoderamiento.</span>
    </h2>
    <p>
      En nuestro espacio digital, nos dedicamos a compartir conocimientos,
      insights y novedades sobre el apasionante mundo de la seguridad jurídica
      empresarial. Aquí encontrarás artículos, análisis y guías sobre temas
      cruciales para la protección y gestión legal de tu empresa. <br /><br />
      Nuestro objetivo es ofrecerte contenido valioso y relevante que te ayude a
      navegar en el complejo panorama legal empresarial. Desde actualizaciones
      sobre legislación y regulaciones hasta consejos prácticos sobre cómo
      prevenir riesgos y optimizar tus políticas de seguridad jurídica, nuestro
      blog está diseñado para ser una fuente confiable de información y
      orientación.
    </p>
  </app-section-introduction>
  <app-latest-post />
  <app-blog-posts-section />
  <app-ask-a-question />
</main>
