<main>
  <app-default-title title="Explora Nuestro Blog" />
  <app-section-introduction>
    <h2> Recursos Legales para una <span class="highlight-text">Mejor Orientación y Empoderamiento.</span>
    </h2>
    <p>Ofrecemos soluciones legales personalizadas y efectivas para
      nuestros clientes. Contamos con un equipo de abogados altamente
      capacitados y especializados en distintas áreas del derecho, estamos
      comprometidos con la excelencia. <br /><br />
      Nos dedicamos a proteger sus derechos e intereses y brindarle un
      servicio excepcional en cada etapa de su proceso legal.
    </p>
  </app-section-introduction>
  <app-latest-post />
  <app-blog-posts-section />
  <app-ask-a-question />
</main>
