<main>
  <app-default-title title="Tienes preguntas? este es nuestro FAQ" />
  <section class="faq-section">
    <div class="section-container">
      <div class="content">
        <div class="faq-navigation-element">
          <div class="navigation">
            <h2>Tabla de contenidos</h2>
            <div class="navigation-hint">
              @for (group of questionsGroups; track $index) {
                <a routerLink="./" [fragment]="group.fragment">{{ group.title }}</a>
              }
            </div>
          </div>
        </div>
        <div class="questions-group-element">
          @for (group of questionsGroups; track $index) {
            <app-questions-group [groupTitle]="group.title" [id]="group.fragment">
              @for (question of group.questionsGroup; track $index) {
                <app-question [question]="question.question" [answer]="question.answer"/>
              }
            </app-questions-group>
          }
        </div>
      </div>
    </div>
  </section>
  <app-ask-a-question />
</main>
