@import 'swiper';

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-grow: 1;
  justify-content: space-between;
  gap: 2rem;

  @include swiper(53.4rem);
}
