$x-variable: .675rem;

:host {
  display: inline;
  position: absolute;
  z-index: 10;
  bottom: 2.8rem;
  right: $x-variable;
  bottom: calc($x-variable * 1.39);

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4rem;
    aspect-ratio: 1/1;
    background-color: var(--main-black);
    border-radius: 99rem;
    user-select: none;

    img {
      filter: invert(73%) sepia(35%) saturate(403%) hue-rotate(93deg) brightness(150%) contrast(87%);
      scale: 1.17;
    }
  }
}
