@import 'mixins';

:host {
  margin-top: auto;
  background-color: var(--main-black);

  #map {
    height: 500px;
  }

  footer {
    padding-top: 8.5rem;

    .content {
      flex-direction: column;
      gap: 3.5rem;

      .navigator-element {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem 9rem;

        .logo-element {
          width: 7.9rem;
        }

        .menu-element {
          display: flex;
          justify-content: space-between;
          max-width: 124.2rem;
          gap: 3rem;
          flex-grow: 1;
          flex-wrap: wrap;

          .links-group {
            font-size: var(--fs-200);
            flex-shrink: 0;

            @include custom-breakpoint(672) {
              flex-basis: 25rem;

              &:nth-child(odd) {
                flex-basis: 16rem;
              }
            }

            h5 {
              color: var(--main-white);
              font-weight: 700;
              margin-bottom: 2.2rem;
            }

            .links-element {
              li {
                list-style: none;
                margin-bottom: 1.3rem;

                a {
                  color: var(--light-gray);
                  font-weight: 500;
                }

              }
            }

            .social-media {
              display: flex;
              justify-content: space-between;
              width: 11.884rem;

              img {
                scale: .8;
              }
            }
          }
        }
      }

      .rights-element {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        border-top: 1px solid var(--dark-green-outline);
        min-height: 7.5rem;

        p {
          font-weight: 500;
          color: var(--light-gray);

          span {
            color: var(--main-white);
          }
        }
      }
    }
  }
}
