<div id="map"></div>
<footer>
  <article class="section-container">
    <div class="content">
      <div class="navigator-element">
        <img class="logo-element" src="/assets/images/logo-control-legal-v2.svg" alt="Logo Control Legal Simple">
        <div class="menu-element">
          <div class="links-group">
            <h5>Menu</h5>
            <ul class="links-element">
              <li><a href="">Inicio</a></li>
              <li><a href="">Servicios</a></li>
              <li><a href="">Sobre Nosotros</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">FAQ</a></li>
              <li><a href="">Contacto</a></li>
            </ul>
          </div>
          <div class="links-group">
            <h5>Áreas de práctica</h5>
            <ul class="links-element">
              <li><a href="">Derecho penal y penitenciario</a></li>
              <li><a href="">Derecho Laboral Y Pensional</a></li>
              <li><a href="">Derecho Civil, Comercial Y De Familia</a></li>
              <li><a href="">Derecho Empresarial</a></li>
            </ul>
          </div>
          <div class="links-group">
            <h5>Blog</h5>
            <ul class="links-element">
              <li><a href="">Que Hacemos</a></li>
              <li><a href="">Misión y Visión</a></li>
              <li><a href="">Nuestra Hisoria</a></li>
              <li><a href="">Servicios y Asesorías</a></li>
            </ul>
          </div>
          <div class="links-group">
            <h5>Sobre nosotros</h5>
            <ul class="links-element">
              <li><a href=""> FAQ</a></li>
              <li><a href="">Contáctanos</a></li>
              <li><a href="">Políticas De Privacidad</a></li>
              <li><a href="">Términos Y Condiciones</a></li>
            </ul>
            <div class="social-media">
              <a href="">
                <img src="/assets/images/facebook-icon.svg" alt="">
              </a>
              <a href="">
                <img src="/assets/images/instagram-icon.svg" alt="">
              </a>
              <a href="">
                <img src="/assets/images/youtube-icon.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="rights-element">
        <p><span>Control Legal</span> &#64; 2022 All Rights Reserved</p>
      </div>
    </div>
  </article>
</footer>
