<section class="ask-a-question">
  <div class="section-container">
    <div class="content">
      <div class="text-element">
        <h2>¿Tienes una pregunta legal que <span class="highlight-text">necesita ser resuelta?</span></h2>
        <p>
          Nos dedicamos a proteger sus derechos e intereses y brindarle un servicio <strong>excepcional en cada etapa de
            su
            proceso legal.</strong>
          su buscas un abogado confiable y comprometido con tus necesidades, ¡aquí estamos para ayudarte!
        </p>
      </div>
      <div class="form-element">
        <app-form [formGroup]="form">
                <app-text-input fieldID="contact-name" label="Nombre Completo" type="text" [control]="name">
                  <app-field-error error [validation]="(name.touched && name.value === '')" alert="Este campo es requerido" />
                </app-text-input>

              <div class="form-row">
                <app-text-input fieldID="contact-email" label="Email" type="text" [control]="email">
                    <app-field-error error [validation]="(email.touched && email.value === '')" alert="Este campo es requerido" />
                    <app-field-error error [validation]="(email.dirty && email.invalid && email.value !== '')" alert="Ingresa un correo electrónico válido" />
                </app-text-input>

                <app-text-input fieldID="contact-phone" label="Teléfono" type="phone" [control]="phone">
                  <app-field-error error [validation]="(phone.touched && phone.value === '')" alert="Este campo es requerido" />
                  <app-field-error error [validation]="(phone.dirty && phone.invalid && phone.value !== '')" alert="Ingresa un teléfono válido" />
                </app-text-input>
              </div>

              <div class="form-row">
                <div class="privacy-policy-field">
                  <div class="input-container">
                    <input type="checkbox" id="privacy-policy" formControlName="terms" required>
                    <label for="privacy-policy">Aceptar <a href="">Políticas de privacidad</a></label>
                  </div>

                  <app-field-error [validation]="(terms.touched && terms.value !== true)" alert="Debes aceptar nuestras politicas de privacidad para poder enviar una pregunta"/>
                </div>
              </div>


              <button>Enviar pregunta <img class="arrow-icon" src="/assets/icons/redirection-arrow-black.svg" alt="ícono enviar pregunta"></button>
        </app-form>
      </div>
    </div>
  </div>
</section>
