<section class="ask-a-question">
  <div class="section-container">
    <div class="content">
      <div class="text-element">
        <h2>¿Tienes una pregunta legal que <span class="highlight-text">necesita ser resuelta?</span></h2>
        <p>
          Nos dedicamos a proteger sus derechos e intereses y brindarle un servicio <strong>excepcional en cada etapa de
            su
            proceso legal.</strong>
          su buscas un abogado confiable y comprometido con tus necesidades, ¡aquí estamos para ayudarte!
        </p>
      </div>
      <div class="form-element">
        <form [formGroup]="form" (ngSubmit)="sendMail()">

          <div class="form-field">
            <div class="input-container">
              <input type="text" id="contact-name" formControlName="name" required>
              <label for="contact-name">Nombre completo</label>
              <div class="underline"></div>
            </div>
            <span class="form-error" [hidden]="!(name.touched && (name.value === '' || name.value === null))"><img src="/assets/icons/exclamacion.svg"
                alt="">Este campo es requerido</span>
          </div>

          <div class="form-row">
            <div class="form-field">
              <div class="input-container">
                <input type="text" id="contact-email" formControlName="email" required>
                <!-- <input type="text" id="contact-email" formControlName="email"  (blur)="onBlur(email)" required> -->
                <label for="contact-email">Email</label>
                <div class="underline"></div>
              </div>
              <span class="form-error" [hidden]="!(email.touched && (email.value === '' || email.value === null))"><img src="/assets/icons/exclamacion.svg" alt="">Este campo es requerido</span>
              <span class="form-error" [hidden]="!(email.dirty && email.touched && email.invalid && email.value !== '')"><img src="/assets/icons/exclamacion.svg" alt=""> Ingresa un correo electrónico válido</span>
            </div>

            <div class="form-field">
              <div class="input-container">
                <input type="text" id="contact-phone" formControlName="phone" required>
                <label for="contact-phone">Teléfono</label>
                <div class="underline"></div>
              </div>
                  <span class="form-error" [hidden]="!(phone.touched && (phone.value === '' || phone.value === null))"><img src="/assets/icons/exclamacion.svg" alt="">Este campo es requerido</span>
                  <span class="form-error" [hidden]="!(phone.dirty && phone.invalid && phone.value !== '')"><img src="/assets/icons/exclamacion.svg" alt=""> Ingresa un teléfono válido</span>
            </div>
          </div>

          <div class="form-field">
            <div class="input-container">
              <textarea name="" id="" cols="30" rows="1" id="contact-message" formControlName="question" required></textarea>
              <label for="contact-message">Escribe tu pregunta acá</label>
              <div class="underline"></div>
            </div>
            <span class="form-error" [hidden]="!(question.touched && (question.value === '' || question.value === null) )"><img src="/assets/icons/exclamacion.svg"
                alt="">Este campo es requerido</span>
          </div>

          <div class="form-row">
            <div class="privacy-policy-field">
              <div class="input-container">
                <input type="checkbox" id="privacy-policy" formControlName="terms" required>
                <label for="privacy-policy">Aceptar <a href="">Políticas de privacidad</a></label>
              </div>
              <span class="form-error" [hidden]="!(terms.touched && terms.value !== true)"><img src="/assets/icons/exclamacion.svg" alt="">Debes aceptar nuestras politicas de privacidad para poder enviar una pregunta</span>
            </div>

            <button>Enviar pregunta <img class="arrow-icon" src="/assets/icons/redirection-arrow-black.svg" alt="ícono enviar pregunta"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
