:host {
  --padding-bottom: 3rem;

  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: var(--padding-bottom);

  .single-question {

    border-bottom: 1px solid #70707061;
    transition: all 1s ease-in-out;

    .question-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: var(--padding-bottom);
      cursor: pointer;
      gap: 3rem;

      h4 {
        user-select: none;
        font-size: var(--fs-400);
        font-weight: 400;
      }

      img {
        user-select: none;
      }
    }

    .question-answer {
      max-height: 0;
      overflow: hidden;

      &.active {
        max-height: initial;
      }

      p {
        transition: all 1s ease-in-out;
        color: #5D6D6F;
        padding-bottom: var(--padding-bottom);
      }
    }
  }
}
