@import 'swiper';

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-grow: 1;
  justify-content: space-between;
  gap: 2rem;

  .swiper {
    .swiper-wrapper {
      transition-timing-function: linear;
      
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        aspect-ratio: 1 / 1;
        flex-basis: 250rem;

        img {
          width: 8rem;
          opacity: .5;
        }
      }
    }
  }

  @include swiper(10rem);
}
