@import 'swiper';
@import url('keen-slider/keen-slider.min.css');

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-grow: 1;
  justify-content: space-between;
  gap: 2rem;

  .keen-slider {
    img {
      height: 9rem;
    }
  }
}
