<section class="banner">
  <div class="section-container">
    <div class="content">
      <div class="main-element">
        <div class="main-content">
          <span class="supp-title">Tu Socio Confiable en Asesoría Jurídica Integral</span>
          <h1>Empoderando decisiones <span class="highlight-text">con conocimiento legal</span></h1>
          <p class="main-text">
            En el complejo mundo legal, buscamos simplificar tus decisiones. Nuestra misión es
            brindarte un conocimiento legal claro y accesible. Descubre la tranquilidad de
            comprender tus opciones legales con nosotros.
          </p>
          <app-redirection text="Estos son los servicios jurídicos que ofrecemos" url="/servicios"/>
        </div>
      </div>
      <div class="services-element">
        <div class="service-preview">
          <h4>Derecho penal y penitenciario</h4>
          <p>En el complejo mundo legal, buscamos simplificar tus decisiones. Nuestra</p>
        </div>
        <div class="service-preview">
          <h4>Derecho penal y penitenciario</h4>
          <p>En el complejo mundo legal, buscamos simplificar tus decisiones. Nuestra</p>
        </div>
        <div class="service-preview">
          <h4>Derecho penal y penitenciario</h4>
          <p>En el complejo mundo legal, buscamos simplificar tus decisiones. Nuestra</p>
        </div>
        <div class="service-preview">
          <h4>Derecho penal y penitenciario</h4>
          <p>En el complejo mundo legal, buscamos simplificar tus decisiones. Nuestra</p>
        </div>
      </div>
    </div>
  </div>
</section>
