<section class="banner">
  <div class="section-container">
    <div class="content">
      <div class="main-element">
        <div class="main-content">
          <span class="supp-title"
            >Tu socio confiable en asesoría jurídica integral.</span
          >
          <h1>
            Impulsando el crecimiento empresarial <span class="highlight-text">desde la prevención y seguridad legal.</span>
          </h1>
          <p class="main-text">
            Buscamos proteger las ideas, proyectos y patrimonio de las empresas.
            Nuestra misión es brindarte conocimiento legal claro y accesible.
            Descubre la tranquilidad de resolver tus asuntos legales con
            nosotros.
          </p>
          <app-redirection
            text="Estos son los servicios jurídicos que ofrecemos"
            url="/servicios"
          />
        </div>
      </div>
      <div class="services-element">
        <div class="service-preview">
          <h4>Derecho Laboral, Seguridad Social y Pensiones</h4>
          <p>
            Protección integral en Derecho Laboral, Seguridad Social y Pensiones
            para empresas.
          </p>
        </div>
        <div class="service-preview">
          <h4>Servicios Jurídicos Empresariales</h4>
          <p>
            Protección integral en asuntos jurídicos para empresas por expertos
            en la materia.
          </p>
        </div>
        <div class="service-preview">
          <h4>Derecho penal y penitenciario</h4>
          <p>
            Asesoría y representación jurídica en asuntos penales: víctimas,
            acusador privado, y defensa.
          </p>
        </div>
        <div class="service-preview">
          <h4>Derecho de Familia</h4>
          <p>
            Sucesiones, divorcios, paternidad, filiación, y procesos de cuotas
            alimentarias.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
