<section class="team-members">
  <div class="section-container">
    <div class="content">
      <div class="title-element">
        <h2>Expertos en acción, <span class="highlight-text">creando soluciones legales innovadoras</span> con conocimiento y experiencia.</h2>
      </div>
      <div class="members-element">
        @if (members$ | async ; as members ) {
          @if (members.length <= 4) {
            <app-team-members-grid [members]="members" />
          } @else {
          <app-team-members-swiper [members]="members" />
          }
        } @else {
          <app-team-members-grid />
        }
      </div>
    </div>
  </div>
</section>
