<section class="blog-posts">
  <div class="section-container">
    <div class="content">
      <div class="title-element">
        <h2>Explora Nuestro Blog: Recursos Legales para una <span class="highlight-text">Mejor Orientación y Empoderamiento.</span></h2>
      </div>
      <div class="posts-element">
        @if (posts$ | async ; as posts ) {
          <app-blog-posts-swiper [posts]="posts" />
        } @else {
          <app-blog-posts-skeleton />
        }
      </div>
    </div>
  </div>
</section>
