<section class="expertise-section" [style.flexDirection]="rightContent ? 'row-reverse' : ''">
  <div class="content-container">
    <div class="content-element">
      <div class="info-element">
        <h2>Expertos en acción, <span class="highlight-text"> creando
            soluciones legales innovadoras</span> con conocimiento y experiencia.</h2>
        <p>Contamos con especialistas altamente calificados para garantizar la mas alta calidad en la prestación de nuestros servicios.</p>
      </div>
        <app-indicators />
    </div>
  </div>
  <div class="image-container"></div>
</section>
