<section class="expertise-section" [style.flexDirection]="rightContent ? 'row-reverse' : ''">
  <div class="content-container">
    <div class="content-element">
      <div class="info-element">
        <h2>Expertos en acción, <span class="highlight-text"> creando
            soluciones legales innovadoras</span> con conocimiento y experiencia.</h2>
        <p>Nuestro personal está altamente capacitado para garantizar la más alta calidad en la prestación del servicio y
          por esto,
          continuamos en formación constante para ser cada vez mejores.</p>
      </div>
        <app-indicators />
    </div>
  </div>
  <div class="image-container"></div>
</section>
