@import 'mixins';

:host {
  .section-introduction {
    padding-bottom: 7rem;

    .content {
      display: flex;
      justify-content: space-between;
      gap: 3rem;

      ::ng-deep {

        > * {
          flex: 1;
        }

        h2 {
          flex-basis: 75.5rem;
        }

        p {
          flex-basis: 83.2rem;
          line-height: 2.6rem;
        }
      }

      @include for-tablet-portrait {
        flex-wrap: wrap;
      }
    }
  }
}
