@if (isNavbarResponsive) {
<header>
  <img class="logo-element" src="/assets/images/logo-control-legal.svg" alt="Logo Control Legal">
  <img (click)="toggleMenu()" class="burguer-menu" src="/assets/images/burguer-menu.svg" alt="Abrir Menú">

  @if (openMenu) {
    <div class="navigation-menu">
      <div class="navigation-header">
        <div class="section-container">
          <div class="content">
            <img class="logo-element" src="/assets/images/logo-control-legal.svg" alt="Logo Control Legal">
            <img (click)="toggleMenu()" class="burguer-menu" src="/assets/images/close-icon.svg" alt="Cerrar Menú">
          </div>
        </div>
      </div>
      <div class="section-container">
        <div class="content">
          <div class="navigation">
            <nav>
              <ul class="links-element">
                <li>
                  <a routerLink="">Inicio</a>
                </li>
                <li>
                  <a routerLink="servicios">Servicios</a>
                </li>
                <li>
                  <a routerLink="sobre-nosotros">Sobre Nosotros</a>
                </li>
                <li>
                  <a routerLink="blog">Blog</a>
                </li>
                <li>
                  <a routerLink="faq">FAQ</a>
                </li>
              </ul>
            </nav>
            <a class="contact-button" routerLink="contacto">Contacta con nuestro equipo de profesionales <img src="/assets/images/redirection-arrow.svg" alt="Ir a contáctanos"></a>
          </div>
          <div class="contact-information">
            <a href="">controllegalcl&#64;gmail.com</a>
            <a href="">(604) 3222695</a>
            <div class="social-media">
              <a href="">
                <img src="/assets/images/facebook-icon.svg" alt="">
              </a>
              <a href="">
                <img src="/assets/images/instagram-icon.svg" alt="">
              </a>
              <a href="">
                <img src="/assets/images/youtube-icon.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</header>
} @else {
<header>
    <img class="logo-element" src="/assets/images/logo-control-legal.svg" alt="Logo Control Legal">
  <nav>
    <ul class="links-element">
      <li>
        <a routerLink="">Inicio</a>
      </li>
      <li>
        <a routerLink="servicios">Servicios</a>
      </li>
      <li>
        <a routerLink="sobre-nosotros">Sobre Nosotros</a>
      </li>
      <li>
        <a routerLink="blog">Blog</a>
      </li>
      <li>
        <a routerLink="faq">FAQ</a>
      </li>
    </ul>
  </nav>
  <a class="rounded-button" routerLink="contacto">Contacto <img src="/assets/images/redirection-arrow.svg" alt="Ir a la sección"></a>
</header>
}
