<header>
  <div class="movile-header header">
    <a routerLink="/"><img class="logo-element" src="/assets/icons/logo-control-legal.svg" alt="Logo Control Legal"></a>
    <img (click)="toggleMenu()" class="burguer-menu" src="/assets/icons/burguer-menu.svg" alt="Abrir Menú">

    <div class="navigation-menu" [style.display]="openMenu ? 'flex' : 'none'">
      <div class="navigation-header">
        <div class="section-container">
          <div class="content">
            <a routerLink="/"><img class="logo-element" src="/assets/icons/logo-control-legal.svg"
                alt="Logo Control Legal"></a>
            <img (click)="toggleMenu()" class="burguer-menu" src="/assets/icons/close-icon.svg" alt="Cerrar Menú">
          </div>
        </div>
      </div>
      <div class="section-container">
        <div class="content">
          <div class="navigation">
            <nav>
              <ul class="links-element">
                <li>
                  <a routerLink="" routerLinkActive="active-link movil" [routerLinkActiveOptions]="{exact:true}"
                    (click)="toggleMenu()">Inicio</a>
                </li>
                <li>
                  <a routerLink="servicios" routerLinkActive="active-link movil" (click)="toggleMenu()">Servicios</a>
                </li>
                <li>
                  <a routerLink="sobre-nosotros" routerLinkActive="active-link movil" (click)="toggleMenu()">Sobre
                    Nosotros</a>
                </li>
                <li>
                  <a routerLink="blog" routerLinkActive="active-link movil" (click)="toggleMenu()">Blog</a>
                </li>
                <li>
                  <a routerLink="faq" routerLinkActive="active-link movil" (click)="toggleMenu()">FAQ</a>
                </li>
              </ul>
            </nav>
            <a class="contact-button" routerLink="contacto" (click)="toggleMenu()">Contacta con nuestro equipo de
              profesionales <img src="/assets/icons/redirection-arrow.svg" alt="Ir a contáctanos"></a>
          </div>
          <div class="contact-information">
            <a href="">controllegalcl&#64;gmail.com</a>
            <a href="">(604) 3222695</a>
            <div class="social-media">
              <a href="">
                <img src="/assets/icons/facebook-icon.svg" alt="">
              </a>
              <a href="">
                <img src="/assets/icons/instagram-icon.svg" alt="">
              </a>
              <a href="">
                <img src="/assets/icons/youtube-icon.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-header header">
    <a routerLink="/"><img class="logo-element" src="/assets/icons/logo-control-legal.svg" alt="Logo Control Legal"></a>
    <nav>
      <ul class="links-element">
        <li>
          <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
        </li>
        <li>
          <a routerLink="servicios" routerLinkActive="active-link">Servicios</a>
        </li>
        <li>
          <a routerLink="sobre-nosotros" routerLinkActive="active-link">Sobre Nosotros</a>
        </li>
        <li>
          <a routerLink="blog" routerLinkActive="active-link">Blog</a>
        </li>
        <li>
          <a routerLink="faq" routerLinkActive="active-link">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="rounded-button" routerLink="contacto">Contacto <img src="/assets/icons/redirection-arrow.svg"
        alt="Ir a la sección"></a>
  </div>
</header>
