@import 'mixins';
@import 'wordpress';

:host {
  .content {
    gap: 5rem;

    .photo-element {
      flex-basis: 30%;
      min-width: 38.8rem;

      .member-image {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        overflow: hidden;
        height: 61.2rem;
        top: 3rem;

        &__skeleton {
          @extend .member-image;
          border-radius: 1rem;
          background-color: var(--dark-green-secondary);
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .content-element {
      display: flex;
      flex-direction: column;
      flex-basis: 70%;
      gap: 7rem;

      h1 {
        margin-bottom: 1rem;
      }

      hr {
        border-color: var(--light-green);
        margin-bottom: 4rem;
      }

      h2 {
        color: white;
        margin-bottom: 1rem;
      }

      .summary {
        &__skeleton {
          display: flex;
          gap: 2rem;
          flex-direction: column;
          width: 100%;

          div {
            background-color: var(--dark-green-secondary);

            &:nth-child(1) {
              height: 7.7rem;
              width: 90%;
              border-radius: 1rem;
              opacity: .7;
            }

            &:nth-child(2) {
              height: 2rem;
              width: 80%;
              border-radius: 99rem;
              opacity: .5;
            }

            &:nth-child(3) {
              height: 2rem;
              width: 50%;
              border-radius: 99rem;
              opacity: .3;
            }
          }
        }

        h1 {
          font-size: calc(var(--fs-700) - .5rem);
          color: var(--light-green);

          @include for-small-tablet-portrait {
            font-size: calc(var(--fs-700) - 2rem);
            line-height: calc(var(--fs-700) - 2rem);
          }

          @include for-phone-only {
            display: inline-block;
            word-break: break-word;
          }
        }

        h2 {
          font-size: var(--fs-400);
          line-height: calc(var(--fs-400) + .8rem);
        }
      }

      .rich-text__skeleton {
        display: flex;
        flex-grow: 1;
        gap: 2rem;
        flex-direction: column;
        width: 100%;

        div {
          background-color: var(--dark-green-secondary);

          &:nth-child(1) {
            height: 2rem;
            width: 70%;
            border-radius: 99rem;
            opacity: .4;
          }

          &:nth-child(2) {
            height: 2rem;
            width: 80%;
            border-radius: 99rem;
            opacity: .3;
          }

          &:nth-child(3) {
            height: 18.7rem;
            width: 90%;
            flex-grow: 1;
            border-radius: 1rem;
            opacity: .3;
          }
        }
      }
    }

    @include custom-breakpoint(1100) {
      flex-direction: column;

      .photo-element {
        min-width: initial;

        .member-image {
          height: 60.2rem;
        }

      }
    }

    @include for-phone-only {
      .photo-element {

        .member-image {
          height: initial;
          aspect-ratio: 1 / 1.3;
          height: initial;
        }

      }
    }
  }
}
