<section class="considerations">
  <div class="section-container">
    <div class="content">
      <div class="title-element">
        <h2>
          Descubriendo las razones para <span class="highlight-text">elegirnos,</span><span class="highlight-text">¡Somos tu mejor opcion! </span>
        </h2>
      </div>
      <div class="considerations-element">
        <div class="consideration">
          <span class="consideration-icon">
            <img src="/assets/icons/agilidad-icon.svg" alt="Icono Agilidad">
          </span>
          <h3>Agilidad</h3>
          <p>
            Sabemos que el tiempo es dinero, por eso tus procesos estarán en manos de personas altamente capacitadas y
            diligentes,
            así tendrás respuesta a tus requerimientos en el menor tiempo posible.
          </p>
        </div>
        <div class="consideration">
          <span class="consideration-icon">
            <img src="/assets/icons/seguridad-icon.svg" alt="Icono Seguridad">
          </span>
          <h3>Seguridad</h3>
          <p>
            En Control Legal velamos por la seguridad de tus negocios y procesos, haciendo vigilancia y seguimiento
            constante a tus
            asuntos, con el fin de garantizar la Seguridad Jurídica de nuestras actuaciones.
          </p>
        </div>
        <div class="consideration">
          <span class="consideration-icon">
            <img src="/assets/icons/calidad-icon.svg" alt="Icono Calidad">
          </span>
          <h3>Calidad</h3>
          <p>
            Nuestro personal está altamente capacitado para garantizar la más alta calidad en la prestación del servicio
            y por esto,
            continuamos en formación constante para ser cada vez mejores.
          </p>
        </div>
        <div class="consideration">
          <span class="consideration-icon">
            <img src="/assets/icons/satisfaction-icon.svg" alt="Icono Satisfacción">
          </span>
          <h3>Satisfacción garantizada</h3>
          <p>
            Nuestro objetivo y misión es tu satisfacción, nuestro equipo de abogados estará siempre dispuesto a cumplir
            tus
            requerimientos y a velar por tus intereses.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
