<section class="section-faq">
  <article class="section-container">
    <div class="content">
      <h2><span class="highlight-text">Tienes preguntas?</span> <br> No te preocupes, nosotros tenemos respuestas.</h2>
      <app-questions-group>
        <app-question />
        <app-question />
        <app-question />
        <app-question />
        <app-question />
        <app-redirection redirection text="Ver todas las preguntas frecuentes" url="/faq" />
      </app-questions-group>
    </div>
  </article>
</section>
