@import 'mixins';

:host {
  display: flex;
  flex-grow: 1;
  height: 53.4rem;

  a,
  .skeleton {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;

    .thumbnail-element {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      align-items: flex-end;
      padding: 2.4rem 1.9rem;
      flex-grow: 1;

      .category-tag {
        display: flex;
        border-radius: 99rem;
        padding: .9rem 1.6rem;
        background-color: var(--main-black);
        color: var(--light-green);
        font-size: var(--fs-100);
      }

      img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .67;
      }
    }

    .info-element {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 12.7rem;
      gap: 1rem;
      padding: 3.1rem 1.9rem 1.9rem 1.9rem;
      background-color: var(--mint-green);

      @include custom-breakpoint(400) {
        flex-basis: 15.8rem !important;
      }

      h3,
      p {
        color: var(--main-black);
      }

      h3 {
        font-size: var(--fs-400);
        line-height: calc(var(--fs-400) + .2rem);
        font-weight: 800;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .detail-info {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;

        p {
          font-size: var(--fs-200);
        }
      }
    }
  }

}
