@if (post) {
  <a [routerLink]="['/blog/post/', post.slug]">
    <div class="thumbnail-element">
      <app-category-tag [category]="post.category"/>
      <img [src]="post.thumbnail.url" [alt]="post.thumbnail.alt">
    </div>
    <div class="info-element">
      <h3>{{ post.title }}</h3>
      <div class="detail-info">
        <p>{{ post.author }}</p>
        <p>{{ post.date }}</p>
      </div>
    </div>
  </a>
} @else {
  <div class="skeleton">
    <div class="thumbnail-element">
      <span class="category-tag"></span>
    </div>
    <div class="info-element">
      <span class="post-title"></span>
      <span class="post-title-under"></span>
      <div class="detail-info">
        <span class="post-author"></span>
        <span class="post-date"></span>
      </div>
    </div>
  </div>
}
