:host {
  display: flex;
  flex-direction: column;

  h2 {
    color: var(--mint-green);
    font-size: calc(var(--fs-500) - .3rem);
    font-weight: 500;
    text-decoration: underline var(--mint-green);
    text-decoration-thickness: .15rem;
    text-underline-offset: 1.2rem;
    margin-bottom: 5rem;
  }
}
