<main>
  @if (service$ | async ; as service ) {
  <app-breadcrumb [slug]="service.name" />
  } @else {
  <app-breadcrumb />
  }
  <section class="service-content">
    <article class="section-container">
      <div class="content">
        @if (service$ | async ; as service ) {
        <div class="content-element">
          <div class="title-service">
            <h1>{{ service.name }}</h1>
            <hr>
          </div>
          <div [innerHTML]="service.content" class="rich-text">
          </div>
        </div>
        }
        <!-- @else {
        <div class="photo-element">
          <div class="service-image__skeleton"></div>
        </div>
        <div class="content-element">
          <div class="summary__skeleton">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="rich-text__skeleton">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        } -->
      </div>
    </article>
  </section>
  <app-ask-a-question />
  <app-legal-services-section />
</main>
