@import 'mixins';

:host {
  .services {

    .content {
      .title-element {
        display: flex;
        flex-direction: column;
        width: 100%;

        h1 {
          margin: 9.5rem 0 7.5rem 0;
          font-size: var(--fs-700);
          color: var(--mint-green);

          @include for-small-tablet-portrait {
            @include custom-heading (var(--fs-700), var(--fs-700));
          }

          @include for-phone-only {
            display: inline-block;
            word-break: break-word;
          }
        }

        hr {
          border-color: #1C2E2F;
          opacity: .5;
          margin-bottom: 4rem;
        }
      }
    }
  }

  app-legal-services-section {

    ::ng-deep {
      .legal-services {
        padding-top: 0 !important;
      }
    }
  }
}
