<main>
  <app-default-title title="Conoce más acerca de nosotros" />
  <app-section-introduction>
    <h2>
      Crecimiento Constante y acelerado:
      <span class="highlight-text"
        >Una Mirada a <br />
        Nuestra Historia y Trayectoria</span
      >
    </h2>
    <p>
      Bienvenidos a Control Legal, su aliado estratégico en asesoría jurídica
      empresarial. En un entorno empresarial en constante evolución, entendemos
      que la protección legal adecuada no solo es crucial, sino también
      fundamental para el éxito y la sostenibilidad de su empresa.
      <br><br>
      Desde nuestra fundación, nos hemos comprometido a ofrecer un asesoramiento jurídico
      integral que abarca desde la prevención de riesgos hasta la resolución de
      conflictos. Nuestro equipo de expertos está conformado por profesionales
      con amplia experiencia en derecho empresarial, dedicados a proporcionar
      soluciones personalizadas que se ajusten a las necesidades únicas de cada
      cliente.
      <br><br>
      En Control Legal, creemos que una empresa bien protegida es una
      empresa que puede concentrarse en lo que hace mejor: crecer y prosperar.
      Trabajamos en estrecha colaboración con nuestros clientes para desarrollar
      políticas de seguridad jurídica robustas y efectivas, diseñadas para
      mitigar riesgos y cumplir con la normativa vigente.
      <br><br>
      Nuestra misión es ofrecer un soporte jurídico de alta calidad que no solo resuelva
      problemas, sino que también anticipe y prevenga futuros desafíos.
      Valoramos la confianza que nuestros clientes depositan en nosotros y nos
      esforzamos por mantener los más altos estándares de ética y
      profesionalismo.
      <br>
      Explore nuestro sitio para conocer más sobre nuestros
      servicios y cómo podemos ayudarle a fortalecer la base jurídica de su
      empresa. En Control Legal, su seguridad jurídica es nuestra prioridad.
    </p>
  </app-section-introduction>
  <app-mission-vision-section />
  <app-banner-section />
  <app-team-members-section />
  <app-expertise-section [rightContent]="true" />
  <app-ask-a-question backgroundColor="var(--main-black)" />
</main>
