<main>
  <app-default-title title="Conoce más acerca de nosotros" />
  <app-section-introduction>
    <h2>
      Crecimiento Constante y acelerado: <span class="highlight-text">Una Mirada a <br> Nuestra Historia y
        Trayectoria</span>
    </h2>
    <p>Graduado con honores de una de las principales instituciones educativas del país, Pérez Monsalve demostró desde
      temprana
      edad su pasión por la justicia y su dedicación al estudio del derecho. Su profundo conocimiento de los principios
      fundamentales del derecho procesal penal le ha permitido no solo defender con éxito a sus clientes en los
      tribunales,
      sino también contribuir al desarrollo y la evolución de esta rama del derecho.
      <br><br>

      Como líder del área de derecho penal y derecho público en su firma legal, Pérez Monsalve ha dirigido numerosos
      casos de
      gran complejidad y ha obtenido resultados sobresalientes en la defensa de los derechos de sus clientes. Su enfoque
      meticuloso, su ética profesional intachable y su habilidad para encontrar soluciones creativas a problemas legales
      complejos lo han convertido en un referente respetado en la comunidad legal
    </p>
  </app-section-introduction>
  <app-mission-vision-section />
  <app-team-members-section />
  <app-expertise-section />
  <app-ask-a-question backgroundColor="var(--main-black)" />
</main>
