@import 'mixins';

* {
  font-family: 'RedHatDisplay', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--opaque-white);
}

:root {
  --max-width: 1700px;
  --section-margin: 0 clamp(7rem, 7.7vw, 9.6rem);

  --main-black: #021C1E;
  --dark-green: #004445;
  --dark-green-secondary: #05292C;
  --dark-green-lighter: #072F32;
  --dark-green-darker: #042226;
  --dark-green-outline: #273D3F;
  --green: #2C7873;
  --light-green: #6EB98E;
  --mint-green: #B4F6D0;
  --opaque-white: #BFC6C6;
  --opaque-white-desc: #5D6E6F;
  --main-white: #FFFFFF;
  --light-green-outline: #3B4E50;
  --light-gray: #4F4F53;
  --light-brown: #F5DCB3;

  --fs-900: 2.9rem;
  --fs-800: 6.3rem;
  --fs-700: clamp(4.4rem, 4.9cqi, 7.6rem);
  --fs-600: 4.4rem;
  --fs-500: 3.3rem;
  --fs-400: 2.2rem;
  --fs-300: 1.8rem;
  --fs-200: 1.6rem;
  --fs-100: 1.4rem;

  @include custom-breakpoint(1150) {
    --section-margin: 0 3.8rem;
  }

  @include custom-breakpoint(370) {
    --section-margin: 0 1.8rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-black);
  color: var(--main-white);

  &::-webkit-scrollbar {
    display: none;
  }
}

section,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.section-container {
  max-width: var(--max-width);
  height: 100%;
  flex-grow: 1;
  margin: var(--section-margin);

  .content {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

h1 {
  @include custom-heading(var(--fs-700), var(--fs-700));
}

h2 {
  @include custom-heading(var(--fs-600), var(--fs-600));

  @include custom-breakpoint(500) {
    @include custom-heading(var(--fs-500), var(--fs-500));
  }
}

p, ul {
  font-size: var(--fs-300);
  line-height: calc(var(--fs-300) + .1rem);
  color: var(--opaque-white);
}

a {
  color: var(--main-white);
  font-size: var(--fs-200);
  font-weight: 400;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
  appearance: initial;
}

.highlight-text {
  color: var(--light-green);
}

/* Fonts
--------------------------------------------- */

@font-face {
  font-family: 'RedHatDisplay';
  src: url('assets/fonts/RedHatDisplay/RedHatDisplay-Black.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('assets/fonts/RedHatDisplay/RedHatDisplay-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('assets/fonts/RedHatDisplay/RedHatDisplay-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('assets/fonts/RedHatDisplay/RedHatDisplay-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('assets/fonts/RedHatDisplay/RedHatDisplay-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
