<main>
  @if (post$ | async ; as post ) {
  <app-breadcrumb [slug]="post.title" />
  } @else {
  <app-breadcrumb />
  }
  <section class="single-blog">
    <article class="section-container">
      <div class="content">
        @if (post$ | async ; as post ) {
        <div class="post-header-element">
          <div class="post-info-element">
            <app-category-tag [category]="post.category" [secondary]="true" />
            <p>{{ post.date }}</p>
          </div>
          <p> {{ post.author }}</p>
        </div>
        <div class="banner-element">
          <img [src]="post.thumbnail.url" [alt]="post.thumbnail.alt">
          <h1>{{ post.title }}</h1>
        </div>
        <div [innerHTML]="post.content">

        </div>
        }
      </div>
    </article>
  </section>
  <app-blog-posts-section />
  <app-ask-a-question />
</main>
