<section class="reviews">
  <div class="section-container">
    <div class="content">
      <div class="section-header">
        <div class="title-element">
          <h2>
            Ellos <span class="highlight-text">confiaron en nosotros: </span
            ><br />
            Historias reales de nuestra
            <span class="highlight-text">experiencia y compromiso.</span>
          </h2>
        </div>
        <div class="review-page"><span>01</span> / 03</div>
      </div>
      <div class="review-element">
        <div class="review-container">
          <img
            src="/assets/icons/quote-icon-start.svg"
            alt="Quote Icon Start"
          />
          Al buscar asesoría legal, encontré en este equipo un verdadero alivio.
          Su enfoque práctico y comprensivo resolvió mis problemas legales,
          brindándome la tranquilidad necesaria. Su conocimiento profundo y
          atención personalizada hicieron el proceso más fácil. Recomiendo sus
          servicios a quienes buscan asesoramiento legal confiable y eficiente.
          <img src="/assets/icons/quote-icon-end.svg" alt="Quote Icon End" />
        </div>
        <div class="client-element">
          <div class="photo-container">
            <img src="/assets/images/example.png" alt="" />
          </div>
          <div class="info-element">
            <h4 class="client-name">Daniela Monsalve</h4>
            <h4 class="client-role">Globant CEO</h4>
          </div>
        </div>
        <div class="timeline-element">
          <div class="timeline-inner"></div>
          <div class="timeline-outer"></div>
        </div>
      </div>
    </div>
  </div>
</section>
